# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules (en cualquier subcarpeta)
**/node_modules/

# Builds
**/dist/
**/dist-ssr/
**/build/

# Entornos
**/.env
*.local

# Sistema y editores
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#ignorar configuracion sensible
**/config/config.js
**/config/config.json